.team {
  & h2 {
    max-width: 255px;
  }
}

.team__card {
  position: relative;
  align-items: center;

  max-width: 260px;
  max-height: 260px;
}

.team__img {
  top: -153px;
  bottom: unset;
  left: 122px;
}

.team__wrapper {
  @include min-desktop_1445 {
    .team__surface {
      display: none;
    }
    .team__img {
      left: unset;
    }
  }

  @include max-desktop_1024 {
    .team__img {
      bottom: 100px;
    }
    .team__card .card_bg_content {
      &.gap_10 {
        gap: 0 !important;
      }

      .text_note {
        font-size: 11px;
      }
    }
  }

  @include max-desktop_800 {
    .team > div {
      flex-wrap: wrap;
      justify-content: center !important;
    }
    .team__img {
      top: -100px;
      bottom: unset;
    }
  }
  @include max-desktop_640 {
    .team__img {
      max-width: unset;
      left: -150px;
      bottom: unset;
    }

    .team > div {
      flex-wrap: nowrap;
      justify-content: flex-start !important;
    }
    .team > div:first-child {
      min-width: 820px;
    }
    .team {
      position: relative;
      left: 0;

      flex-direction: row;
      justify-content: flex-start;

      overflow: auto;
      max-width: 100vw;
      min-width: 100vw;


      & .team__card {
        overflow: hidden;
      }
    }
    .team__card {
      min-width: 260px;
    }
  }
  @include max-desktop_380 {
    .team__img {
      max-width: 1000px;
      left: -150px;
      bottom: unset;
    }
  }
}
