.way__surface_left {
  left: -300px;
}

.way__surface_right {
  right: -300px;
}

@include min-desktop_1024 {
  .way__img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;

    & img {
      position: relative;
    }

    .way__img_1 {
      left: 13px;
      top: 5px;
    }

    .way__img_2 {
      top: 30px;
      left: -26px;
    }

    .way__img_3 {
      top: 37px;
      left: 10px;
    }

    .way__img_4 {
      top: 15px;
      right: 23px;
    }

    .way__img_5 {
      top: 40px;
      left: 15px;
    }

    .way__img_6 {
      top: 5px;
      left: -32px;
    }

    .way__img_7 {
      top: 22px;
      left: 4px;
    }
  }
}

@include min-desktop_1280 {
  .way__block {
    //width: 64% !important;

    .way__card {
      //max-width: 467px;

      //& > div {
      //  padding: 24px !important;
      //}
    }
  }
}

@include max-desktop_800 {
  .way__surface_left,
  .way__surface_right {
    top: 350px;
  }
}

@include max-desktop_480 {
  .way__surface_left,
  .way__surface_right {
    top: 250px;
    max-width: 800px;
  }
}

.way__wrapper {
  @include max-desktop_1024 {
    .way__card {
      flex: 3;
    }
    .way__img {
      flex: 2;
    }
  }

  @include max-desktop_800 {
    .way__block_first {
      flex-direction: column-reverse;
      align-items: center !important;
    }

    .way__block_second {
      flex-direction: column;
      align-items: center !important;
    }

    .way__img {
      max-width: 400px;
    }
  }

  @include max-desktop_480 {
    .p20 {
      padding: 15px !important;
    }
  }

  @include max-desktop_380 {
    .way__card .icon {
      display: none;
    }
  }
}
