.header {
  position: sticky;
  top: 0;
  z-index: 15;

  min-height: $header_height;
  max-height: $header_height;

  padding: 10px 20px;
  background: #272725f7;
  backdrop-filter: blur(1px);
}

.header__lang {
  @include max-desktop_1024 {
    width: 100%;
    padding-right: 20px;
  }
}

.header__burger_block {
  display: block;
}
